<div id="container_login" class="container">

  <div class="row justify-content-md-center" >
      <div class="col-md-12 col-lg-6 col-md-auto">
        <div class="card">
        <div class="card-header">
          <i class="fa fa-user" aria-hidden="true"></i> Logout
        </div>
        <div class="card-block">
        <div class="text-center margin-bottom-25" ng-show="storage.status == false">
             <h4 class="card-title">Log out Complete</h4> <br />
              <button type="button" class="btn btn-success" ng-click="go('login')"><i class="fa fa-sign-out"></i> Go to Login Page</button>
        </div>
      </div>

      </div>
  </div>

</div>
