[[include file="admin/header.html"]] 
[[config_load file="lang/thai.lang" section="admin"]]
<link rel="stylesheet" href="css/trumbowyg.min.css">
<div ng-init="controller.getCategory()"></div>
<div ng-init="controller.getBlogList()"></div>
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">[[#memberSetting#]]</div>
        <div class="panel-body">
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#groupBlog" role="tab" data-toggle="tab" class="list-group-item" ng-click="controller.resetStateBlog()"><span class="fa fa-folder"></span> [[#category#]]</a>
                    <a href="#addBlog" role="tab" data-toggle="tab" class="list-group-item" ng-click="controller.resetStateBlog();controller.getCategory()"><span class="fa fa-plus"></span> [[#addBlog#]]</a>
                    <a href="#MngBlog" role="tab" data-toggle="tab" class="list-group-item" ng-click="controller.resetStateBlog();controller.getBlogList()"><span class="fa fa-th-list"></span> [[#manageBlog#]]</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane " id="addBlog">
                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="fa fa-plus"></span> [[#addBlog#]]</div>
                            <div class="panel-body">
                                <form action="javascript:;">
                                    <div class="form-group">
                                        <label for="title">[[#titleArticle#]]</label>
                                        <input type="text" class="form-control" ng-model="controller.tmpBlog.title" placeholder="[[#enterValue#]] [[#titleArticle#]]">
                                    </div>
                                    <div class="form-group">
                                        <label for="title">[[#category#]]</label>
                                        <select class="form-control" ng-model="controller.tmpBlog.cat_by">
                                            <option ng-repeat="cat in controller.category" value="{{cat.id}}">{{cat.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="editorAddBlog" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" ng-click="controller.addBlog();"><span class="fa fa-plus"></span> [[#addBlog#]]</button>
                                        <button class="btn btn-danger" type="reset"><span class="fa fa-plus"></span> [[#resetValue#]]</button>
                                    </div>
                                    <div class="alert alert-danger" role="alert">[[#err#]] : [[#erraddBlog#]]</div>
                                    <div class="alert alert-success" role="alert">[[#complete#]] : [[#addBlogComplate#]]</div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="MngBlog">
                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="fa fa-edit"></span> [[#mngBlog#]]</div>
                            <div class="panel-body">
                                <h4>[[#mngBlog#]]</h4>
                                <div class="progress" ng-show="controller.blogList == null">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    </div>
                                </div>
                                <table class="table table-hover hidden" id="table-mngblog">
                                    <tr ng-repeat="blog in controller.blogList">
                                        <td width="60%">{{blog.title}}</td>
                                        <td width="40%">
                                            <button class="btn btn-warning" ng-show="blog.status == 1">[[#hide#]]</button>
                                            <button class="btn btn-success" ng-show="blog.status == 0">[[#hide#]]</button>
                                            <button class="btn btn-primary">[[#edit#]]</button>
                                            <button class="btn btn-danger">[[#remove#]]</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="groupBlog">
                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="fa fa-remove"></span> [[#groupBlog#]]</div>
                            <div class="panel-body">
                                <h4>[[#groupBlog#]]</h4>
                                <div class="progress" ng-show="controller.category == null">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    </div>
                                </div>

                                <form action="javascript:;">
                                    <table class="table table-hover hidden" id="table-category" >
                                        <tr>
                                            <td width="60%">[[#nameGroup#]]</td>
                                            <td width="40%">[[#manageBlog#]]</td>
                                        </tr>
                                        <tr ng-repeat="group in controller.category">
                                            <td>
                                                <input type="text" class="form-control" ng-model="group.name">
                                            </td>
                                            <td>
                                                <button class="btn btn-warning" ng-show="group.status == 1" ng-click="controller.hideCategory($index)">[[#hide#]]</button>
                                                <button class="btn btn-success" ng-show="group.status == 0" ng-click="controller.showCategory($index)">[[#show#]]</button>
                                                <button class="btn btn-danger" ng-click="controller.showPopupRemove($index,'cate')">[[#remove#]]</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button class="btn btn-primary" ng-click="controller.addCategory()">[[#add#]]</button>
                                                <button class="btn btn-success" ng-click="controller.updateCategory()">[[#update#]]</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editBlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">[[#editBlog#]]</h4>
                </div>
                <div class="modal-body">
                    <form action="javascript:;">
                                    <div class="form-group">
                                        <label for="title">[[#titleArticle#]]</label>
                                        <input type="text" class="form-control" ng-model="controller.tmpBlog.title" placeholder="[[#enterValue#]] [[#titleArticle#]]">
                                    </div>
                                    <div class="form-group">
                                        <label for="title">[[#category#]]</label>
                                        <select class="form-control" ng-model="controller.tmpBlog.cat_by">
                                            <option ng-repeat="cat in controller.category" value="{{cat.id}}">{{cat.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="editorAddBlog" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" ng-click="controller.addBlog();"><span class="fa fa-plus"></span> [[#addBlog#]]</button>
                                        <button class="btn btn-danger" type="reset"><span class="fa fa-plus"></span> [[#resetValue#]]</button>
                                    </div>
                                    <div class="alert alert-danger" role="alert">[[#err#]] : [[#erraddBlog#]]</div>
                                    <div class="alert alert-success" role="alert">[[#complete#]] : [[#addBlogComplate#]]</div>
                                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="controller.updateMember();">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="popupRemove" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="modal-header">
         <h4 class="modal-title">[[#confirmToRemoveThis#]]</h4>
   </div>
     <div class="modal-footer">
      <button class="btn btn-danger" ng-click="controller.confirmRemove()">[[#remove#]]</button>
      <button class="btn btn-primary" data-dismiss="modal">[[#cancel#]]</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>
<script type="text/javascript" src="js/trumbowyg.min.js"></script>
<script src="js/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
<script src="js/plugins/base64/trumbowyg.base64.min.js"></script>
<script src="js/plugins/colors/trumbowyg.colors.min.js"></script>
<script src="js/plugins/emoji/trumbowyg.emoji.min.js"></script>
<script type="text/javascript">
    $('textarea').trumbowyg({
        plugins: ['pasteimage'],
        btnsDef: {
            // Customizables dropdowns
            image: {
                dropdown: ['insertImage', 'upload', 'base64', 'noEmbed'],
                ico: 'insertImage'
            }
        },
        btns: [
            ['viewHTML'],
            ['undo', 'redo'],
            ['formatting'],
            'btnGrp-design', ['link'],
            ['image'],
            'btnGrp-justify',
            'btnGrp-lists', ['foreColor', 'backColor'],
            ['preformatted'],
            ['emoji'],
            ['horizontalRule'],
            ['fullscreen']
        ],
    });
</script>
<script type="text/javascript" src="js/admin/admin.js"></script>
<script type="text/javascript" src="js/admin/admin.service.js"></script>

[[include file="admin/footer.html"]]