<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>MIY System Control Panel</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/miyv2.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript"src="js/tether.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    
</head>
<body>