<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/miyv2.css" />
    
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    
    
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="col-md-6 text-xs-right">
                logo
            </div>
            <div class="col-md-6">
                <form>
                  <fieldset class="form-group">
                    <label for="username">Username : </label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Username ">
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password">
                  </fieldset>
                  <fieldset class="form-group">
                   <button class="btn btn-primary-outline">Login</button>
                  </fieldset>
                </form>
            </div>
        </div>
      </div>
</div>
</body>
</html>