[[include file="admin/header.html"]]
[[config_load file="lang/thai.lang" section="admin"]]

<div ng-app="loginApp">

    <div class="container animation-login" ng-controller="loginController as controller">

        <div class="row">
            <div class="col-md-8 col-md-offset-2 box-border-bottom ">
                <div class="col-md-6 box-border-right mobile-box margin-add-bottom-10">
                    <div class="admin-logo-login">
                        <img src="images/default/static/Logo4.png" class="img-logo">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4> MIY Control Panel </h4>
                    <form name="login" action="javascript:;;">
                        <fieldset class="form-group">
                            <label for="username"><span class="fa fa-user"></span> [[#username#]] : </label>
                            <input type="text" class="form-control" ng-model="controller.username" name="username" id="username" placeholder="Enter Username ">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password"><span class="fa fa-lock"></span> [[#password#]] : </label>
                            <input type="password" class="form-control" ng-model="controller.password" name="password" id="password" placeholder="Enter Password">
                        </fieldset>
                        <fieldset class="form-group">
                            <button class="btn btn-default btn-login" ng-click="controller.send()"><span class="fa fa-chevron-circle-right"></span> [[#login_btn#]]</button>
                            <button class="btn btn-danger btn-login" ng-click="login.back();"><span class="fa fa-arrow-left"></span> [[#back_btn#]]</button>
                        </fieldset>
                        <div class="alert alert-danger fade in" id="errloging" role="alert">[[#err#]] : [[#errloging#]]</div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center padding-10">
                Powered by <a href="http://github.com/iboommm">@iboommm</a>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="loading" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Loading..</h4>
            </div>
            <div class="modal-body">
               <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="js/admin/login.js"></script>
<script type="text/javascript" src="js/admin/login.service.js"></script>


[[include file="admin/footer.html"]]