[[include file="admin/header.html"]]
[[config_load file="lang/thai.lang" section="admin"]]
<div ng-app="loginApp">

    <div class="container animation-login" ng-controller="loginController as controller">

        <div class="row">
            <div class="col-md-8 col-md-offset-2 box-border-bottom ">
                <div class="col-md-6 box-border-right mobile-box margin-add-bottom-10">
                    <div class="admin-logo-login">
                        <img src="images/default/static/Logo4.png" class="img-logo">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4> MIY Control Panel </h4>
                    <form name="login" action="javascript:;;">
                        <fieldset class="form-group">
                            <label for="username"><span class="fa fa-user"></span> [[#username#]] : </label>
                            <input type="text" class="form-control input-login" ng-model="controller.username" name="username" id="username" placeholder="Enter Username ">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password"><span class="fa fa-lock"></span> [[#password#]] : </label>
                            <input type="password" class="form-control input-login" ng-model="controller.password" name="password" id="password" placeholder="Enter Password">
                        </fieldset>
                        <fieldset class="form-group">
                            <button class="btn btn-primary-outline btn-login" ng-click="login.login();"><span class="fa fa-chevron-circle-right"></span> [[#login_btn#]]</button>
                            <button class="btn btn-danger-outline btn-login" ng-click="login.back();"><span class="fa fa-arrow-left"></span> [[#back_btn#]]</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 text-xs-center padding-10">
                Powered by <a href="http://github.com/iboommm">@iboommm</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/admin/appLogin.js"></script>
[[include file="admin/footer.html"]]